/* -------------------------------------------
Estilos para o Menu
------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;


}


:root {
    --bg-color: #000000;
    --text-color: #FFF;
    --main-color: #15ff00;
    --star-color: #ffbb00;
    --text-color2: #505050;
}

.header-nav {
    position: fixed;
    width: 100%;
    transition: all .50s ease;
    z-index: 1000;
}
.header-nav:hover {
    transition: all .50s ease;
    background-color: var(--bg-color);
}
.nav-bar {
    display: flex;
    justify-content: center;
    padding: 0.5rem 3rem;
    transition: all .5s ease;

}
.nav-imagem {
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: right;

}

.nav-logo {
    display: flex;
    width: 15rem;
    align-items: center;
      
}
.nav-logo:hover {
    transition: all .5s ease;
    filter: invert(21%) sepia(92%) saturate(1000%) hue-rotate(50deg) brightness(120%) contrast(150%);
}
.nav-list {
    display: flex;
    border: none;
    padding: 10px 15px;
}

.nav-carrinho {
    display: flex;
    border: none;
    padding: 10px 20px;

}
.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;

}
.nav-carrinho ul {
    display: flex;
    justify-content: right;
    list-style: none;
}
.nav-item {
    display: flex;
    border: none;
    padding: 10px 0px;
}
.nav-carrinho-item {
    margin: 5px 25px;
}
.nav-item a {
    margin: 5px 15px;
}
.nav-item a:hover {
    display: flex;
    border: none;
    border-radius: 20px;
    transition: all .50s ease;
    color: var(--main-color);

}
.nav-carrinho a:hover {
    display: flex;
    border: none;
    border-radius: 20px;
    transition: all .50s ease;
    color: var(--main-color);

}
.nav-link {
    color: var(--text-color);
    display: flex;
    margin: 0 auto;
    padding: 5px;
    gap: 5px;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    font-size: 1.0rem;
    transition: all .50s ease;

}
.nav-carrinho-item {
    color: var(--text-color);
    display: flex;
    margin: 0 auto;
    padding: 5px;
    gap: 5px;
    text-decoration: none;
    text-align: right;
    font-weight: 500;
    font-size: 1.0rem;
    transition: all .50s ease;
}

.login-button button {
    display: flex;
    border: none;
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all .50s ease;
    cursor: pointer; 
}
.login-button button:hover {
    color: var(--main-color);

}
.login-button button .login-button1 {
    display: flex;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    font-size: 1.0rem;

}
.login-button button .login-button1:hover {
    transition: all .50s ease;

}
.login-button button .login-svg {
    display: flex;

}
.mobile-menu-icon {
    display: none;

}
.mobile-menu {
    display: none;
    transition: all .50s ease;

}
@media screen and (max-width: 600px) {
    .header {
        transition: .2s;

    }
    .header-nav:hover {
        background-color: var(--bg-color);
    }
    .nav-bar:hover {
        background-color: var(--bg-color);
    }
    .nav-bar {
        padding: 0.5rem 3rem;
        transition: all .50s ease;

    }
    .nav-item {
        display: none;
        transition: all .50s ease;

    }
    .nav-item a {
        transition: all .50s ease;
    }
    .nav-item a:hover {
        transform: translateY(5px);
    }
    .login-button {
        display: none;
    }
    .nav-imagem {
        justify-content: space-between;
    }

    .nav-logo {
        width: 100%;

    }
    .nav-logo:hover {
        transition: all .5s ease;
        filter: invert(21%) sepia(92%) saturate(1000%) hue-rotate(50deg) brightness(120%) contrast(150%);
    }
    .mobile-menu-icon {
        display: flex;

    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu-icon button:hover {
        transition: all .5s ease;
        filter: invert(21%) sepia(92%) saturate(1000%) hue-rotate(50deg) brightness(120%) contrast(150%);
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
}
